if TARGET_ARTIK051

config SYS_BOARD
	default "artik051"

config SYS_VENDOR
	default "samsung"

config SYS_CONFIG_NAME
	string "Board configuration name"
	default "artik051"
	help
	  This option contains information about board configuration name.
	  Based on this option include/configs/<CONFIG_SYS_CONFIG_NAME>.h header
	  will be used for board configuration.

config SECURE_BOOT
	bool "Enable Secure Boot"
	default n

endif
